body{
    display: flex;
    flex-wrap: wrap;
}

h1{
    flex-wrap: wrap;
    flex-grow: 1;
}

header{
    flex-basis: 100%;
    flex-grow: 1;
}

.ulnav{
    display: flex;
}

header li{
    flex-grow: 1;
    display:inline;
}

main{
    flex-basis: 100%;
    text-align:center;
}

iframe{
    border-radius: 1em;
    border-style: inset;
}

.sectionmain{
    display: flex;
    flex-wrap: wrap;
}

.sectionmain1{
    margin-bottom: 10em;
}

.sectionmain1 h2{
    flex-basis: 100%;
    font-size: 2em;
    margin-bottom: 0.5em;
    float: left;
    margin-left: 5em;
    text-shadow: 0.1em 0.1em #333
}

.sectionmain11{
    margin-top: 5em;
    margin-bottom: 10em;
    border-style: inset;
    border-radius: 1em;
    text-shadow: 0.1em 0.1em #333
}

.sectionmain2{
    margin-top: 5em;
    margin-bottom: 10em;
    border-style: inset;
    border-radius: 1em;
    text-shadow: 0.1em 0.1em #333
}

.sectionmain21{
    margin-bottom: 10em;
}

.sectionmain21 h2{
    flex-basis: 100%;
    font-size: 2em;
    margin-bottom: 0.5em;
    float: right;
    margin-right: 5em;
    text-shadow: 0.1em 0.1em #333
}

h2 .sectionmain21{
    margin-left: 0.5em;
}

main section section{
    flex-basis: 45%;
}

footer{
    flex-grow: 1;
    margin-top: 1em;
    margin-bottom: 0em;
    position: relative;
    bottom: 0;
}