body{
    display: flex;
    flex-wrap: wrap;
}

h1{
    flex-wrap: wrap;
    flex-grow: 1;
}

header{
    flex-basis: 100%;
    flex-grow: 1;
}

.ulnav{
    display: flex;
}

header li{
    flex-grow: 1;
    display:inline;
}

aside{
    float: right;
    flex-basis: 27%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 10em;
    text-shadow: 0.1em 0.1em #333
}

aside p{
    margin-left: 1em;
    margin-right: 1em;
}

main{
    flex-basis: 70%;
    text-align:center;
}

.sectionmain{
    display: flex;
    flex-wrap: wrap;
}

.sectionmain1{
    margin-bottom: 4em;
    text-shadow: 0.1em 0.1em #333
}

main section section{
    flex-basis: 45%;
    text-shadow: 0.1em 0.1em #333
}

footer{
    flex-grow: 1;
    margin-top: 1em;
    margin-bottom: 0em;
    position: relative;
    bottom: 0;
}