body{
  background: url(./img/ville.jpeg);
  color: white;
  background-color: black;
  background-size: cover;
}

body header img{
  width: 50%;
  height: 50%;
}

li, a{
  list-style-type: None;
  text-decoration: None
}

.Personnages{
  background-color: grey;
}

header ul{
  padding-left: 0%;
}

header li{
  border-style: inset;
  padding: 0.5em;
  text-align:center;
  background: linear-gradient(#03224C, black);
  border-radius: 1em;
}

.sectionmain2{
  margin-left: 7em;
}

.sectiontxt1{
  text-align:center;
}

.sectionimg2{
  text-align:center;
}

.image1{
  border-style: inset;
  border-width: 0.25em;
  width: 300px;
  height: 207px;
  margin-top: 0.5em;
  margin-left: 2em;
  margin-right: 3em;
}

.image2{
  border-style: inset;
  border-width: 0.25em;
  width: 300px;
  height: 207px;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 3em;
}

aside{
  padding-left: 1em;
  padding-right: 1em;
  border-style: inset;
  margin-bottom: 1em;
  background: linear-gradient(#03224C, black);
  border-radius: 2em;
}

aside section{
  margin-left: 2em;
  margin-top: 1.5em;
}

aside ul{
  margin-left: 2em;
}

aside ul li{
  border-radius: 25% 10%;
  border-style: inset;
  padding-right: 0.1em;
  width: 5em;
  padding: 0.5em ;
}

.imgAside{
  width: 240px;
  height: 60px;
}

a{
  color: white;
}

footer{
  border-style: inset;
  background: linear-gradient(#03224C, black);
  border-radius: 2em;
}

footer p{
  margin-left: 2em;
}